@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
$font-family-sans-serif: 'Open Sans', sans-serif;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
/*@import "node_modules/daterangepicker/daterangepicker-bs3.min";
@import "node_modules/bootstrap-select/sass/bootstrap-select";
*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css);

html, body {
  background: #140324;
  font-size: 13px;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container-fluid {
  max-width: 90%;  
}
.navbar {
  margin-top: 20px;
}

.navbar-brand img {
  width: 70%;
}

.nav > li {
  padding: 15px 10px 0px 25px;
  a {
    color: #FFF !important;
    font-smooth: always;
    padding: 0 5px 5px 5px;
    &:hover, &:focus {
      background-color: transparent;
      border-bottom: 2px solid #F47100;
      padding-bottom: 15x;
    };
  }
}
  