@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
$font-family-sans-serif: 'Open Sans', sans-serif;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
/*@import "node_modules/daterangepicker/daterangepicker-bs3.min";
@import "node_modules/bootstrap-select/sass/bootstrap-select";
*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css);

html, body {
  /*background: #140324;*/
  font-size: 15px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  padding-top: 30px;
  padding-bottom: 30px;
  background: transparent;
  a.btn-xl-transparent {
    color: #F47100;
    border-color: #F47100;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 3px;
    /*font-size: 18px;*/
    padding: 13px 40px;gu
    &:hover{
      background-color: #F47100;
      color: #FFF;
    };
  }
}
.navbar-custom {
  transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.main-bg {
  padding-top: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../images/home_page_background.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  /*padding-top: 20px;
  padding-bottom: 20px;
  background: url("../images/home_page_background.jpg") no-repeat top center;
  background-size:100% auto;
  background-attachment: scroll;
  height: 60em;*/
}
.site-heading {
  color: #FFF;
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;

  h1 {
    font-size: 3.5em;
    font-weight: 100;
    word-spacing: 10px;
  }

  h2 {
    margin-top: 35px;
    word-spacing: 2px;
    font-weight: 100;
  }

  a.btn-xl {
    color: #FFF;
    background-color: #F47100;
    border-color: #F47100;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 3px;
  }

  a.btn-xl-transparent {
    color: #F47100;
    border-color: #F47100;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 3px;
    &:hover{
      background-color: #F47100;
      color: #FFF;
    };
  }
}

ul.intro-social-buttons {
  padding-top: 30px; 
}

ul.list-inline > li {
  padding-left: 25px;
  padding-right: 25px;
}

@media (max-width: 767px) {
  ul.intro-social-buttons > li, ul.list-inline > li {
    display: block;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.container-fluid {
  max-width: 90%;
}

.image-placeholder {
  img {
    width: 100%;
  }
}

.top-nav-collapse {
  padding: 10px;
  border-bottom: 1px solid rgba(255,255,255,.3);
  background: #140324; 
}

.navbar-brand {
  padding: 8px 15px 15px 15px;
  img {
    width: 90%;
  }
}

.nav > li {
  padding: 15px 10px 0px 30px;
  a {
    color: #FFF;
    font-smooth: always;
    padding: 0 5px 5px 5px;
    &:hover, &:focus {
      background-color: transparent;
      border-bottom: 2px solid #F47100;
      color: #F47100;
      padding-bottom: 15x;
    };
  }
}

.content {
  padding-top: 50px;
  img {
    padding-top: 30px;
  }
}