@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
$font-family-sans-serif: 'Open Sans', sans-serif;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
/*@import "node_modules/daterangepicker/daterangepicker-bs3.min";
@import "node_modules/bootstrap-select/sass/bootstrap-select";
*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css);

html, body {
  /*background: #140324;*/
  font-size: 15px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  margin-top: 20px;
  background: transparent;
  a.btn-xl-transparent {
    color: #F47100;
    border-color: #F47100;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 3px;
    /*font-size: 18px;*/
    padding: 13px 40px;gu
    &:hover{
      background-color: #F47100;
      color: #FFF;
    };
  }
}

.main-bg {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url("https://files.slack.com/files-pri/T0HG04KDL-F0HJN1WR0/background_home_page.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  height: 55em;
}
.site-heading {
  color: #FFF;
  padding: 5em 0;
  text-align: center;
  word-spacing: 2px;
  margin-bottom: -4em;

  h1 {
    font-size: 3.5em;
    font-weight: 100;
    word-spacing: 10px;
  }

  h2 {
    margin-top: 35px;
    word-spacing: 2px;
    font-weight: 100;
  }

  a.btn-xl {
    color: #FFF;
    background-color: #F47100;
    border-color: #F47100;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 3px;
    /*font-size: 18px;*/
    padding: 13px 40px;
    margin: 50px 30px;
  }

  a.btn-xl-transparent {
    color: #F47100;
    border-color: #F47100;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 3px;
    /*font-size: 18px;*/
    padding: 13px 40px;
    margin: 50px 30px;
    &:hover{
      background-color: #F47100;
      color: #FFF;
    };
  }
}

.container-fluid {
  max-width: 90%;
}

.image-placeholder {
  img {
    width: 100%;
    height: 100%;
  }
}

.navbar-brand {
  padding: 8px 15px 15px 15px;
  img {
    width: 90%;
  }
}

.nav > li {
  padding: 15px 10px 0px 30px;
  a {
    color: #FFF;
    font-smooth: always;
    padding: 0 5px 5px 5px;
    &:hover, &:focus {
      background-color: transparent;
      border-bottom: 2px solid #F47100;
      color: #F47100;
      padding-bottom: 15x;
    };
  }
}
  